@charset "utf-8";
/*thumbnail slider*/
.mThumbnailScroller {
	-ms-touch-action: none;
	touch-action: none; /* MSPointer events - direct all pointer events to js */
}
.mThumbnailScroller.mTS_no_scroll, .mThumbnailScroller.mTS_touch_action {
	-ms-touch-action: auto;
	touch-action: auto;
}
.mTSWrapper {
	position: relative;
	overflow: hidden;
	height: 100%;
	max-width: 100%;
	outline: none;
	direction: ltr;
}
.mTSContainer {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
ul.mTSContainer, ol.mTSContainer {
	list-style: none;
}
.mTSThumb, ul.mTSContainer > li img {
	vertical-align: bottom;
}
.mTS_vertical .mTSContainer {
	margin-top: 0 !important;
	margin-bottom: 0 !important;

}
.mTS_horizontal .mTSContainer {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
/* 
------------------------------------------------------------------------------------------------------------------------
2. SCROLLING BUTTONS STYLE  
------------------------------------------------------------------------------------------------------------------------
*/

.mTSButton {
	/* button size (if changed, also change the buttons top and left margins below) */
	width: 20px;
	height: 20px;
	line-height: 20px;
	padding: 14px;
	/* ---------- */
	overflow: hidden;
	text-align: center;
	background-color: #000; /* button background */
	color: #fff; /* non-svg button icon color */
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	/* show button effect (fades-in button from zero size) */
	opacity: 1;
	-webkit-transition: height 0s ease-out 0s, width 0s ease-out 0s, padding 0s ease-out 0s, opacity .2s ease-out 0s;
	-moz-transition: height 0s ease-out 0s, width 0s ease-out 0s, padding 0s ease-out 0s, opacity .2s ease-out 0s;
	-o-transition: height 0s ease-out 0s, width 0s ease-out 0s, padding 0s ease-out 0s, opacity .2s ease-out 0s;
	-ms-transition: height 0s ease-out 0s, width 0s ease-out 0s, padding 0s ease-out 0s, opacity .2s ease-out 0s;
	transition: height 0s ease-out 0s, width 0s ease-out 0s, padding 0s ease-out 0s, opacity .2s ease-out 0s;/* ---------- */
}
/* buttons positioning */
	
.mTSButtonDown {
	top: auto;
	bottom: 0;
}
.mTSButtonRight {
	left: auto;
	right: 0;
}
.mTSButtonUp, .mTSButtonDown { /* margin is half the button size */
	left: 50%;
	margin-left: -24px;
}
.mTSButtonLeft, .mTSButtonRight { /* margin is half the button size */
	top: 50%;
	margin-top: -24px;
}
.mTSButtonIconContainer {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	overflow: hidden;
}
.mTSButtonIcon { /* SVG icon */
	display: inline-block;
	fill: #fff; /* button icon color */
	position: absolute;
	top: 0;
	left: 0;
}
.mTSButton.mTS-hidden, .mThumbnailScroller.mTS_no_scroll .mTSButton {
	/* hide button effect (fades-out button to zero size) */
	opacity: 0;
	height: 0;
	width: 0;
	padding: 0;
	-webkit-transition: height 0s ease-out .2s, width 0s ease-out .2s, padding 0s ease-out .2s, opacity .2s ease-out;
	-moz-transition: height 0s ease-out .2s, width 0s ease-out .2s, padding 0s ease-out .2s, opacity .2s ease-out;
	-o-transition: height 0s ease-out .2s, width 0s ease-out .2s, padding 0s ease-out .2s, opacity .2s ease-out;
	-ms-transition: height 0s ease-out .2s, width 0s ease-out .2s, padding 0s ease-out .2s, opacity .2s ease-out;
	transition: height 0s ease-out .2s, width 0s ease-out .2s, padding 0s ease-out .2s, opacity .2s ease-out;/* ---------- */
}
/* 
------------------------------------------------------------------------------------------------------------------------
3. THUMBNAILS STYLE  
------------------------------------------------------------------------------------------------------------------------
*/

	/* thumbnail container (default: li) */
	
.mTS_horizontal .mTSThumbContainer, .mTS_horizontal ul.mTSContainer > li {
	float: left;
}
/* 
------------------------------------------------------------------------------------------------------------------------
4. THEMES 
------------------------------------------------------------------------------------------------------------------------
*/

	/* theme: "buttons-in" */

.mTS-buttons-in {
	padding: 14px;
	background-color: #000;
}
.mTS-buttons-in .mTSButtonIcon {
	fill: #000;
}
.mTS-buttons-in .mTSWrapper, .mTS-buttons-in .mTSButton {
	background-color: inherit;
}
.mTS-buttons-in .mTSButtonLeft, .mTS-buttons-in .mTSButtonRight {
	width: 24px;
	height: 48px;
	padding: 16px 4px 0 4px;
	margin-top: -26px;
}
.mTS-buttons-in .mTSButtonUp, .mTS-buttons-in .mTSButtonDown {
	width: 24px;
	height: 24px;
	padding: 4px 24px;
	margin-left: -36px;
}
.mTS-buttons-in .mTSButton.mTS-hidden {
	height: 0;
	width: 0;
	padding: 0;
}
.mTS-buttons-in .mTSButton:not(.mTS-hidden) {
	opacity: .4;
}
.mTS-buttons-in:hover .mTSButton:not(.mTS-hidden) {
	opacity: 1;
}
.mTS-buttons-in .mTS_vertical .mTSThumbContainer {
	margin: 14px 0;
}
.mTS-buttons-in .mTS_vertical .mTSThumbContainer:first-child {
	margin-top: 0;
}
.mTS-buttons-in .mTS_vertical .mTSThumbContainer:last-child {
	margin-bottom: 0;
}
.mTS-buttons-in .mTS_horizontal .mTSThumbContainer {
	margin: 0 7px;
}
.mTS-buttons-in .mTS_horizontal .mTSThumbContainer:first-child {
	margin-left: 0;
}
.mTS-buttons-in .mTS_horizontal .mTSThumbContainer:last-child {
	margin-right: 0;
}
/* ---------------------------------------- */
.dark-back {
	background-color: #172D44 !important;
	color: #ffffff !important
}
.light-back {
	background-color: #efefef !important;
	color: #172D44 !important;
	padding: 10px;
	border-radius: 5px
}
div.col-sm-7.five-three {
	width: 60% !important;
}
div.col-sm-5.five-two {
	width: 40% !important;
}
.navbar-brand{
	color: #172D44 !important
}
.partner-tabs{
	background-color: #efefef;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.title>h4{
	padding-bottom: 10px
}
.head-tabs{
	color: #ffffff;
	text-align: center;
	background-color: #172D44;
	padding: 10px;
    font-size: 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.body-tabs{
	padding: 10px;
	color: #172D44;
	text-align: justify
}
.tail-tabs{
	text-align: center;
	padding-bottom: 10px
}
.partners-form>input{
	margin-bottom: 5px
}
.partners-form>select{
	margin-bottom: 5px
}
.mar-allign-top{
	margin-top: 20px !important
}
.anchor-img>a{
	display: inline-grid !important;
	text-align: center
}
.left{
	float: left !important
}
.right{
	float: right !important
}
.rating {
  display: inline-block;
  position: relative;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
}

.rating label {
  position: absolute;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #ffffff;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #172D44;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #ffffff;
  text-shadow: 0 0 5px #172D44;
}
.communities-card{
	margin-bottom: 10px !important
}
.fa-size{
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 20px
}
.img-logo{
	width: 100px;
	height: 100px
}
.apply-block{
	height: 500px !important
}
.apply{
	padding-top: 150px;
	padding-bottom: 150px
}
.btn-mar{
	margin-bottom: 100px
}